In [2]:
import pandas as pd

In [4]:
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
adult['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [8]:
adult.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [10]:
adult['native.country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64

In [16]:
adult.groupby(by=['native.country']).median()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
native.country,,,,,,
?,37.0,182567.0,10.0,0.0,0.0,40.0
Cambodia,37.0,173858.0,9.0,0.0,0.0,40.0
Canada,41.0,174995.0,10.0,0.0,0.0,40.0
China,41.0,160724.0,13.0,0.0,0.0,40.0
Columbia,38.0,201318.0,9.0,0.0,0.0,40.0
Cuba,46.0,237452.0,10.0,0.0,0.0,40.0
Dominican-Republic,39.0,195124.0,8.0,0.0,0.0,40.0
Ecuador,32.0,170899.0,9.0,0.0,0.0,40.0
El-Salvador,32.5,226668.5,7.0,0.0,0.0,40.0
England,40.0,181923.0,10.5,0.0,0.0,40.0
France,34.0,176683.0,13.0,0.0,0.0,42.0
Germany,36.0,178322.0,10.0,0.0,0.0,40.0
Greece,49.0,134854.0,10.0,0.0,0.0,40.0
Guatemala,28.5,213252.5,6.0,0.0,0.0,40.0
Haiti,38.0,215057.0,9.0,0.0,0.0,40.0
Holand-Netherlands,32.0,27882.0,10.0,0.0,2205.0,40.0
Honduras,31.0,261943.0,9.0,0.0,0.0,40.0
Hong,32.5,168143.0,11.5,0.0,0.0,40.0
Hungary,54.0,174995.0,10.0,0.0,0.0,40.0
India,35.5,147719.0,13.0,0.0,0.0,40.0
Iran,38.0,181091.0,13.0,0.0,0.0,40.0
Ireland,32.0,129870.5,9.0,0.0,0.0,40.0
Italy,48.0,169785.0,9.0,0.0,0.0,40.0
Jamaica,33.0,213208.0,10.0,0.0,0.0,40.0
Japan,38.0,158705.5,11.5,0.0,0.0,40.0
Laos,31.0,234103.0,9.0,0.0,0.0,40.0
Mexico,31.0,257562.0,5.0,0.0,0.0,40.0
Nicaragua,32.0,275333.5,9.0,0.0,0.0,40.0
Outlying-US(Guam-USVI-etc),35.5,209321.0,10.0,0.0,0.0,40.0
Peru,34.0,243425.0,9.0,0.0,0.0,40.0
Philippines,38.0,154703.0,11.0,0.0,0.0,40.0
Poland,41.0,171429.0,10.0,0.0,0.0,40.0
Portugal,38.0,116613.0,6.0,0.0,0.0,40.0
Puerto-Rico,40.0,195124.0,9.0,0.0,0.0,40.0
Scotland,41.0,155986.0,9.5,0.0,0.0,40.0
South,36.0,145088.0,10.0,0.0,0.0,40.0
Taiwan,31.0,168901.0,13.0,0.0,0.0,40.0
Thailand,33.0,177177.5,10.0,0.0,0.0,40.0
Trinadad&Tobago,42.0,170324.0,9.0,0.0,0.0,40.0
United-States,37.0,176730.0,10.0,0.0,0.0,40.0
Vietnam,30.0,139012.0,10.0,0.0,0.0,40.0
Yugoslavia,38.0,181118.5,10.0,0.0,0.0,40.0

In [34]:
adult[adult['native.country']=='Philippines'][['sex','income']].value_counts(normalize=True)

sex     income
Male    <=50K     0.383838
Female  <=50K     0.308081
Male    >50K      0.247475
Female  >50K      0.060606
dtype: float64

In [33]:
adult[adult['native.country']=='India'][['sex','income']].value_counts(normalize=True)

sex     income
Male    <=50K     0.51
        >50K      0.38
Female  <=50K     0.09
        >50K      0.02
dtype: float64