In [1]:
import pandas as pd
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
adult_dtypes = {
    "workclass" : "category",
    "education" : "category",
    "relationship":'category',
    'marital.status':'category',
    'income':"category",
    "sex":"category"
}

adult=pd.read_csv(
    '/Users/ecuerbo/Desktop/data/adult.csv',
    dtype=adult_dtypes)
print(adult.dtypes)

age                  int64
workclass         category
fnlwgt               int64
education         category
education.num        int64
marital.status    category
occupation          object
relationship      category
race                object
sex               category
capital.gain         int64
capital.loss         int64
hours.per.week       int64
native.country      object
income            category
dtype: object

In [12]:
adult[adult["occupation"]=='Armed-Forces'][['native.country', 'sex', 'income']]

      native.country   sex income
850    United-States  Male   >50K
4609   United-States  Male  <=50K
5358   United-States  Male  <=50K
16950  United-States  Male  <=50K
18256  United-States  Male  <=50K
19934  United-States  Male  <=50K
20464  United-States  Male  <=50K
20570  United-States  Male  <=50K
32340  United-States  Male  <=50K

In [ ]:
adult[adult['workclass']=='Never-worked'][['sex','income','native.country']].value_counts()

In [10]:
adult['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64