In [1]:
import pandas as pd
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [2]:
adult_dtypes = {
    "workclass" : "category",
    "education" : "category",
    "relationship":'category',
    'marital.status':'category',
    'income':"category",
    "sex":"category"
}

adult=pd.read_csv(
    '/Users/ecuerbo/Desktop/data/adult.csv',
    dtype=adult_dtypes)
print(adult.dtypes)

age                  int64
workclass         category
fnlwgt               int64
education         category
education.num        int64
marital.status    category
occupation          object
relationship      category
race                object
sex               category
capital.gain         int64
capital.loss         int64
hours.per.week       int64
native.country      object
income            category
dtype: object

In [3]:
adult[adult["occupation"]=='Farming-fishing'][['native.country', 'sex', 'income']].value_counts()

native.country  sex     income
United-States   Male    <=50K     711
                        >50K      109
Mexico          Male    <=50K      72
United-States   Female  <=50K      57
?               Male    <=50K       5
Puerto-Rico     Male    <=50K       4
Philippines     Male    <=50K       4
Mexico          Female  <=50K       3
Guatemala       Female  <=50K       2
Vietnam         Male    <=50K       2
Canada          Male    <=50K       2
Italy           Male    <=50K       2
Cuba            Male    <=50K       2
United-States   Female  >50K        2
El-Salvador     Male    <=50K       2
Mexico          Male    >50K        2
Guatemala       Male    <=50K       2
Puerto-Rico     Female  <=50K       1
England         Male    <=50K       1
Poland          Male    <=50K       1
Portugal        Male    <=50K       1
France          Male    <=50K       1
Germany         Male    <=50K       1
Cambodia        Male    >50K        1
Japan           Male    <=50K       1
Ireland         Male    <=50K       1
Hong            Male    <=50K       1
Yugoslavia      Male    >50K        1
dtype: int64

In [4]:
adult[adult['workclass']=='Never-worked'][['sex','income','native.country']].value_counts()

sex     income  native.country
Male    <=50K   United-States     5
Female  <=50K   United-States     2
dtype: int64

In [5]:
adult['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [6]:
adult.groupby(by=['income']).mean()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
income,,,,,,
<=50K,36.783738,190340.86517,9.595065,148.752468,53.142921,38.840210
>50K,44.249841,188005.00000,11.611657,4006.142456,195.001530,45.473026

In [7]:
adult[adult['native.country']=='Philippines'][['sex','income']].value_counts(normalize=True)

sex     income
Male    <=50K     0.383838
Female  <=50K     0.308081
Male    >50K      0.247475
Female  >50K      0.060606
dtype: float64

In [8]:
adult[['sex','income']].value_counts()

sex     income
Male    <=50K     15128
Female  <=50K      9592
Male    >50K       6662
Female  >50K       1179
dtype: int64

In [9]:
adult[['income','relationship']].value_counts()

income  relationship
<=50K   Not-in-family     7449
        Husband           7275
>50K    Husband           5918
<=50K   Own-child         5001
        Unmarried         3228
        Other-relative     944
>50K    Not-in-family      856
<=50K   Wife               823
>50K    Wife               745
        Unmarried          218
        Own-child           67
        Other-relative      37
dtype: int64

In [16]:
adult.shape

(32561, 15)

In [18]:
adult.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [19]:
adult.values

array([[90, '?', 77053, ..., 40, 'United-States', '<=50K'],
       [82, 'Private', 132870, ..., 18, 'United-States', '<=50K'],
       [66, '?', 186061, ..., 40, 'United-States', '<=50K'],
       ...,
       [40, 'Private', 154374, ..., 40, 'United-States', '>50K'],
       [58, 'Private', 151910, ..., 40, 'United-States', '<=50K'],
       [22, 'Private', 201490, ..., 20, 'United-States', '<=50K']],
      dtype=object)

In [22]:
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [26]:
a=adult.columns.values
print(a)

['age' 'workclass' 'fnlwgt' 'education' 'education.num' 'marital.status'
 'occupation' 'relationship' 'race' 'sex' 'capital.gain' 'capital.loss'
 'hours.per.week' 'native.country' 'income']

In [27]:
adult.index

RangeIndex(start=0, stop=32561, step=1)

In [30]:
adult.sort_values('capital.loss', ascending=False)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11859,33,Private,394447,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,33,United-States,>50K
11858,47,Private,121124,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
11857,55,Self-emp-inc,67433,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K
11856,20,Private,277700,Preschool,1,Never-married,Other-service,Own-child,White,Male,0,0,32,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [32]:
adult.sort_values(['capital.loss','hours.per.week'], ascending=[1,1])

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
4086,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
4129,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
4396,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
5327,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9077,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K

In [33]:
adult[['capital.loss','hours.per.week']]

       capital.loss  hours.per.week
0              4356              40
1              4356              18
2              4356              40
3              3900              40
4              3900              40
...             ...             ...
32556             0              40
32557             0              38
32558             0              40
32559             0              40
32560             0              20

[32561 rows x 2 columns]

In [34]:
sub_cols=['marital.status', 'occupation','age']
adult[sub_cols]

           marital.status         occupation  age
0                 Widowed                  ?   90
1                 Widowed    Exec-managerial   82
2                 Widowed                  ?   66
3                Divorced  Machine-op-inspct   54
4               Separated     Prof-specialty   41
...                   ...                ...  ...
32556       Never-married    Protective-serv   22
32557  Married-civ-spouse       Tech-support   27
32558  Married-civ-spouse  Machine-op-inspct   40
32559             Widowed       Adm-clerical   58
32560       Never-married       Adm-clerical   22

[32561 rows x 3 columns]

In [35]:
adult['age']>90

0        False
1        False
2        False
3        False
4        False
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: age, Length: 32561, dtype: bool

In [38]:
adult[adult['age']>89]

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
199,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
1739,90,Local-gov,227796,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
1742,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
2241,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
2296,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
2299,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
2947,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
3776,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
3854,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
4176,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
4224,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
5134,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
5896,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
6227,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
6724,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
7756,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
8645,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
8791,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
8914,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K
9984,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
13123,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
14242,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
14659,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
15057,90,?,225063,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,10,South,<=50K
15505,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
16552,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
17603,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
18067,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
20149,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
20265,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
20621,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
20956,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
21192,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
21420,90,Private,226968,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
22166,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
23590,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
25339,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
26259,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
28999,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
31218,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
31799,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
32305,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K