In [1]:
import pandas as pd
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
adult_dtypes = {
    "workclass" : "category",
    "education" : "category",
    "relationship":'category',
    'marital.status':'category',
    'income':"category",
    "sex":"category"
}

adult=pd.read_csv(
    '/Users/ecuerbo/Desktop/data/adult.csv',
    dtype=adult_dtypes)
print(adult.dtypes)

age                  int64
workclass         category
fnlwgt               int64
education         category
education.num        int64
marital.status    category
occupation          object
relationship      category
race                object
sex               category
capital.gain         int64
capital.loss         int64
hours.per.week       int64
native.country      object
income            category
dtype: object

In [14]:
adult[adult["occupation"]=='Farming-fishing'][['native.country', 'sex', 'income']].value_counts()

native.country  sex     income
United-States   Male    <=50K     711
                        >50K      109
Mexico          Male    <=50K      72
United-States   Female  <=50K      57
?               Male    <=50K       5
Puerto-Rico     Male    <=50K       4
Philippines     Male    <=50K       4
Mexico          Female  <=50K       3
Guatemala       Female  <=50K       2
Vietnam         Male    <=50K       2
Canada          Male    <=50K       2
Italy           Male    <=50K       2
Cuba            Male    <=50K       2
United-States   Female  >50K        2
El-Salvador     Male    <=50K       2
Mexico          Male    >50K        2
Guatemala       Male    <=50K       2
Puerto-Rico     Female  <=50K       1
England         Male    <=50K       1
Poland          Male    <=50K       1
Portugal        Male    <=50K       1
France          Male    <=50K       1
Germany         Male    <=50K       1
Cambodia        Male    >50K        1
Japan           Male    <=50K       1
Ireland         Male    <=50K       1
Hong            Male    <=50K       1
Yugoslavia      Male    >50K        1
dtype: int64

In [ ]:
adult[adult['workclass']=='Never-worked'][['sex','income','native.country']].value_counts()

In [10]:
adult['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [22]:
adult.groupby(by=['income']).mean()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
income,,,,,,
<=50K,36.783738,190340.86517,9.595065,148.752468,53.142921,38.840210
>50K,44.249841,188005.00000,11.611657,4006.142456,195.001530,45.473026

In [42]:
adult[adult['native.country']=='Philippines'][['sex','income']].value_counts(normalize=True)

sex     income
Male    <=50K     0.383838
Female  <=50K     0.308081
Male    >50K      0.247475
Female  >50K      0.060606
dtype: float64

In [43]:
adult[['sex','income']].value_counts()

sex     income
Male    <=50K     15128
Female  <=50K      9592
Male    >50K       6662
Female  >50K       1179
dtype: int64

In [51]:
adult[['marital.status','workclass']].value_counts()

marital.status         workclass
Married-civ-spouse     Private             9732
Never-married          Private             8186
Divorced               Private             3119
Married-civ-spouse     Self-emp-not-inc    1680
                       Local-gov           1023
                       Self-emp-inc         837
Never-married          ?                    766
Separated              Private              754
Married-civ-spouse     ?                    636
Widowed                Private              588
Married-civ-spouse     State-gov            588
Never-married          Local-gov            530
Married-civ-spouse     Federal-gov          471
Never-married          State-gov            413
                       Self-emp-not-inc     409
Divorced               Local-gov            369
Married-spouse-absent  Private              302
Divorced               Self-emp-not-inc     292
Never-married          Federal-gov          245
Divorced               State-gov            210
                       ?                    184
                       Federal-gov          168
Widowed                ?                    153
Never-married          Self-emp-inc         125
Divorced               Self-emp-inc         100
Widowed                Local-gov             86
                       Self-emp-not-inc      74
Separated              ?                     66
                       Local-gov             63
                       Self-emp-not-inc      53
                       State-gov             43
Widowed                Federal-gov           36
Married-spouse-absent  Self-emp-not-inc      31
Widowed                Self-emp-inc          29
Married-spouse-absent  ?                     29
Widowed                State-gov             26
Separated              Federal-gov           26
Married-spouse-absent  Local-gov             22
Separated              Self-emp-inc          20
Married-spouse-absent  State-gov             17
Married-AF-spouse      Private               15
Married-spouse-absent  Federal-gov           11
Married-civ-spouse     Without-pay            8
Never-married          Never-worked           5
Married-spouse-absent  Self-emp-inc           5
Never-married          Without-pay            4
Married-AF-spouse      Federal-gov            3
                       Self-emp-not-inc       2
                       ?                      2
Married-civ-spouse     Never-worked           1
Married-AF-spouse      State-gov              1
Married-spouse-absent  Without-pay            1
Divorced               Never-worked           1
Widowed                Without-pay            1
dtype: int64