In [1]:
import pandas as pd
adult = pd.read_csv('/Users/ecuerbo/Desktop/data/adult.csv')

In [2]:
adult_dtypes = {
    "workclass" : "category",
    "education" : "category",
    "relationship":'category',
    'marital.status':'category',
    'income':"category",
    "sex":"category"
}

adult=pd.read_csv(
    '/Users/ecuerbo/Desktop/data/adult.csv',
    dtype=adult_dtypes)
print(adult.dtypes)

age                  int64
workclass         category
fnlwgt               int64
education         category
education.num        int64
marital.status    category
occupation          object
relationship      category
race                object
sex               category
capital.gain         int64
capital.loss         int64
hours.per.week       int64
native.country      object
income            category
dtype: object

In [3]:
adult[adult["occupation"]=='Farming-fishing'].groupby(by=['income','sex','native.country']).mean().dropna()

                                    age         fnlwgt  education.num  \
income sex    native.country
<=50K  Female Guatemala       43.500000  411495.000000       5.000000
              Mexico          43.000000  261318.333333       5.000000
              Puerto-Rico     23.000000  175837.000000       7.000000
              United-States   40.736842  162975.807018       8.859649
       Male   ?               33.200000  132382.000000       7.400000
              Canada          57.500000  237719.500000       8.000000
              Cuba            41.000000  297192.000000       4.500000
              El-Salvador     31.000000  288561.500000       5.500000
              England         33.000000  176711.000000      13.000000
              France          64.000000   59829.000000       9.000000
              Germany         62.000000  197286.000000       8.000000
              Guatemala       32.000000  239140.500000       3.000000
              Hong            19.000000  277695.000000       1.000000
              Ireland         31.000000   63437.000000       9.000000
              Italy           45.500000  161745.500000       6.000000
              Japan           44.000000  156687.000000       9.000000
              Mexico          32.763889  294927.333333       4.222222
              Philippines     48.500000   95682.500000       6.000000
              Poland          23.000000  324960.000000       9.000000
              Portugal        38.000000  331395.000000       4.000000
              Puerto-Rico     32.000000  157360.250000       7.500000
              United-States   41.171589  162025.662447       8.915612
              Vietnam         71.500000  234831.500000       9.500000
>50K   Female United-States   55.000000  158805.000000      10.000000
       Male   Cambodia        42.000000  303044.000000       9.000000
              Mexico          42.500000  201126.500000       3.000000
              United-States   47.155963  131898.798165      10.119266
              Yugoslavia      35.000000   81280.000000      13.000000

                              capital.gain  capital.loss  hours.per.week
income sex    native.country
<=50K  Female Guatemala           0.000000      0.000000       42.500000
              Mexico              0.000000      0.000000       41.666667
              Puerto-Rico         0.000000      0.000000       40.000000
              United-States     506.824561     94.228070       37.824561
       Male   ?                   0.000000      0.000000       46.800000
              Canada              0.000000      0.000000       55.000000
              Cuba             2254.000000      0.000000       40.000000
              El-Salvador         0.000000      0.000000       35.000000
              England             0.000000      0.000000       40.000000
              France              0.000000      0.000000       25.000000
              Germany             0.000000      0.000000       48.000000
              Guatemala           0.000000      0.000000       40.000000
              Hong                0.000000      0.000000       36.000000
              Ireland             0.000000      0.000000       40.000000
              Italy               0.000000      0.000000       40.000000
              Japan               0.000000      0.000000       42.000000
              Mexico            702.875000      0.000000       42.694444
              Philippines         0.000000      0.000000       40.000000
              Poland              0.000000      0.000000       40.000000
              Portugal         3942.000000      0.000000       84.000000
              Puerto-Rico         0.000000      0.000000       50.000000
              United-States     204.098453     42.482419       47.180028
              Vietnam             0.000000   1228.500000       40.000000
>50K   Female United-States   19174.000000      0.000000       25.000000
       Male   Cambodia            0.000000      0.000000       40.000000
              Mexico              0.000000      0.000000       48.000000
              United-States    2887.889908    226.275229       54.889908
              Yugoslavia          0.000000      0.000000       65.000000

In [4]:
adult[adult['workclass']=='Never-worked'][['sex','income','native.country']].value_counts()

sex     income  native.country
Male    <=50K   United-States     5
Female  <=50K   United-States     2
dtype: int64

In [5]:
adult.groupby(by=['income']).median()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
income,,,,,,
<=50K,34.0,179465.0,9.0,0.0,0.0,40.0
>50K,44.0,176101.0,12.0,0.0,0.0,40.0

In [6]:
adult[['income','relationship']].value_counts()

income  relationship
<=50K   Not-in-family     7449
        Husband           7275
>50K    Husband           5918
<=50K   Own-child         5001
        Unmarried         3228
        Other-relative     944
>50K    Not-in-family      856
<=50K   Wife               823
>50K    Wife               745
        Unmarried          218
        Own-child           67
        Other-relative      37
dtype: int64

In [7]:
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [8]:
a=adult.columns.values
print(a)

['age' 'workclass' 'fnlwgt' 'education' 'education.num' 'marital.status'
 'occupation' 'relationship' 'race' 'sex' 'capital.gain' 'capital.loss'
 'hours.per.week' 'native.country' 'income']

In [9]:
adult.sort_values('capital.loss', ascending=False)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11859,33,Private,394447,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,33,United-States,>50K
11858,47,Private,121124,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
11857,55,Self-emp-inc,67433,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K
11856,20,Private,277700,Preschool,1,Never-married,Other-service,Own-child,White,Male,0,0,32,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [10]:
adult.sort_values(['capital.loss','hours.per.week'], ascending=[1,1])

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
4086,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
4129,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
4396,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
5327,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9077,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K

In [11]:
sub_cols=['marital.status', 'occupation','age']
adult[sub_cols]

           marital.status         occupation  age
0                 Widowed                  ?   90
1                 Widowed    Exec-managerial   82
2                 Widowed                  ?   66
3                Divorced  Machine-op-inspct   54
4               Separated     Prof-specialty   41
...                   ...                ...  ...
32556       Never-married    Protective-serv   22
32557  Married-civ-spouse       Tech-support   27
32558  Married-civ-spouse  Machine-op-inspct   40
32559             Widowed       Adm-clerical   58
32560       Never-married       Adm-clerical   22

[32561 rows x 3 columns]

In [12]:
adult[adult['education.num']>adult['education.num'].median()][['age','capital.loss']].describe()

                age  capital.loss
count  10516.000000  10516.000000
mean      40.212628    129.609833
std       11.984181    488.922203
min       18.000000      0.000000
25%       31.000000      0.000000
50%       39.000000      0.000000
75%       47.000000      0.000000
max       90.000000   3683.000000

In [13]:
adult[adult['capital.loss']>1][['age','education.num','hours.per.week']].describe()

               age  education.num  hours.per.week
count  1519.000000    1519.000000     1519.000000
mean     41.697828      10.969059       43.252798
std      12.625609       2.688426       12.247258
min      17.000000       1.000000        1.000000
25%      32.000000       9.000000       40.000000
50%      41.000000      10.000000       40.000000
75%      50.000000      13.000000       50.000000
max      90.000000      16.000000       99.000000

In [14]:
pinoy = adult[adult['native.country']=='Philippines']
pinoy[['age','income']].value_counts()

age  income
27   <=50K     9
39   <=50K     7
     >50K      7
45   <=50K     6
33   <=50K     6
              ..
30   >50K      1
     <=50K     1
29   >50K      1
21   <=50K     1
90   <=50K     1
Length: 76, dtype: int64

In [15]:
adult.groupby(by=['occupation','income']).mean()

                                age         fnlwgt  education.num  \
occupation        income
?                 <=50K   39.179177  189247.346852       9.016344
                  >50K    55.617801  183567.052356      11.303665
Adm-clerical      <=50K   35.987128  192856.517315      10.016549
                  >50K    43.254438  186810.232742      10.737673
Armed-Forces      <=50K   28.250000  199302.250000       9.625000
                  >50K    46.000000  344415.000000      14.000000
Craft-repair      <=50K   37.659621  191657.759937       8.911041
                  >50K    43.712594  193752.881593       9.792250
Exec-managerial   <=50K   39.609152  184837.102955      10.838894
                  >50K    44.898374  183962.974085      12.099593
Farming-fishing   <=50K   40.445961  174844.003413       8.425484
                  >50K    47.060870  134618.747826      10.008696
Handlers-cleaners <=50K   31.462617  205426.799065       8.453271
                  >50K    42.662791  188926.383721       9.360465
Machine-op-inspct <=50K   37.048516  196050.591324       8.362443
                  >50K    42.388000  187964.804000       9.364000
Other-service     <=50K   34.664661  188806.862571       8.717226
                  >50K    41.518248  184034.875912      10.218978
Priv-house-serv   <=50K   41.689189  201804.986486       7.324324
                  >50K    47.000000   97883.000000      13.000000
Prof-specialty    <=50K   37.942569  182426.587900      12.378343
                  >50K    43.677246  188818.145239      13.551372
Protective-serv   <=50K   37.705479  202127.566210       9.842466
                  >50K    41.545024  201858.085308      10.895735
Sales             <=50K   34.780277  190869.004124       9.904012
                  >50K    44.336724  190931.711089      11.373347
Tech-support      <=50K   34.355039  190725.413953      10.871318
                  >50K    43.102473  195227.321555      11.268551
Transport-moving  <=50K   39.120595  189970.879405       8.653093
                  >50K    44.496875  191944.550000       9.221875

                          capital.gain  capital.loss  hours.per.week
occupation        income
?                 <=50K     158.483051     47.758475       31.415860
                  >50K     4462.109948    170.989529       36.146597
Adm-clerical      <=50K     136.621514     51.380938       37.032485
                  >50K     2808.587771    121.378698       40.942801
Armed-Forces      <=50K       0.000000      0.000000       40.750000
                  >50K        0.000000   1887.000000       40.000000
Craft-repair      <=50K     147.991483     66.569716       41.607256
                  >50K     2360.839612    163.178687       44.682454
Exec-managerial   <=50K     184.039085     59.199237       42.810772
                  >50K     4478.821646    223.738313       47.308435
Farming-fishing   <=50K     265.142207     43.268487       46.045506
                  >50K     3070.678261    214.469565       54.208696
Handlers-cleaners <=50K     110.855140     35.895639       37.626947
                  >50K     2448.104651    191.058140       42.732558
Machine-op-inspct <=50K     156.160388     48.395548       40.383562
                  >50K     1537.772000    154.988000       43.364000
Other-service     <=50K      80.453452     34.113046       34.339455
                  >50K     2746.474453    133.627737       43.051095
Priv-house-serv   <=50K     111.229730     21.594595       32.871622
                  >50K    25236.000000      0.000000       35.000000
Prof-specialty    <=50K     191.931609     66.034196       40.110478
                  >50K     5836.869285    222.158687       45.179666
Protective-serv   <=50K     245.623288     46.394977       41.579909
                  >50K     1668.118483    144.635071       45.549763
Sales             <=50K     134.014998     61.778778       38.329959
                  >50K     4537.089522    197.388606       47.431333
Tech-support      <=50K     196.334884     53.198450       38.556589
                  >50K     1761.204947    202.293286       41.427562
Transport-moving  <=50K     129.480031     64.256069       43.624902
                  >50K     1930.315625    150.218750       48.771875

In [20]:
pinoy.groupby(by=["age","income"]).mean().dropna()

,,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
age,income,,,,,
17,<=50K,110998.0,10.0,0.0,0.0,40.0
18,<=50K,60883.0,5.5,0.0,0.0,27.5
19,<=50K,118351.5,8.5,0.0,0.0,18.5
20,<=50K,184437.5,9.5,0.0,0.0,27.0
21,<=50K,152246.0,10.0,0.0,0.0,40.0
...,...,...,...,...,...,...
69,<=50K,248248.0,2.0,0.0,0.0,34.0
70,<=50K,304570.0,13.0,0.0,0.0,32.0
73,<=50K,77884.0,9.0,0.0,0.0,40.0
75,<=50K,71898.0,1.0,0.0,0.0,48.0
90,<=50K,187749.0,12.0,0.0,0.0,20.0

In [17]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot','Alpaca','Alpaca'],
                'Max Speed': [380., 370., 24., 26.,23,34],
                'Power': [200., 270., 324., 256.,239,100]})
df.groupby(['Animal']).median()

        Max Speed  Power
Animal
Alpaca       28.5  169.5
Falcon      375.0  235.0
Parrot       25.0  290.0