In [18]:
import pandas as pd
#adoptable dogs dataset
#https://www.kaggle.com/datasets/jmolitoris/adoptable-dogs/data
dogs = pd.read_csv('/Users/ecuerbo/Desktop/data/dogs.csv')
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2937 entries, 0 to 2936
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2937 non-null   int64
 1   name               2845 non-null   object
 2   age                2937 non-null   float64
 3   sex                2937 non-null   object
 4   breed              2937 non-null   object
 5   date_found         2937 non-null   object
 6   adoptable_from     2937 non-null   object
 7   posted             2937 non-null   object
 8   color              2937 non-null   object
 9   coat               2937 non-null   object
 10  size               2937 non-null   object
 11  neutered           1852 non-null   object
 12  housebroken        460 non-null    object
 13  likes_people       1999 non-null   object
 14  likes_children     1219 non-null   object
 15  get_along_males    1633 non-null   object
 16  get_along_females  1673 non-null   object
 17  get_along_cats     431 non-null    object
 18  keep_in            1916 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 436.1+ KB

In [19]:
dogs["coat"] = dogs["coat"].astype("category")
dogs["coat"].value_counts(dropna=False)

short         1972
medium         565
wirehaired     220
long           180
Name: coat, dtype: int64

In [20]:
#Series.cat.method_name
dogs["coat"] = dogs["coat"].cat.set_categories(
    new_categories=["short","medium","long"])
dogs["coat"].value_counts(dropna=False)

short     1972
medium     565
NaN        220
long       180
Name: coat, dtype: int64

In [21]:
dogs["coat"] = dogs["coat"].cat.set_categories(
    new_categories=["short","medium","long"],
    ordered=True)
dogs["coat"].head(3)

0    short
1    short
2    short
Name: coat, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

In [22]:
#missing categories
dogs["likes_people"].value_counts(dropna=False)

yes    1991
NaN     938
no        8
Name: likes_people, dtype: int64

In [23]:
#adding categories
dogs["likes_people"] = dogs["likes_people"].astype("category")
dogs["likes_people"] = dogs["likes_people"].cat.add_categories(
    new_categories =["did not check","could not tell"])
dogs["likes_people"].cat.categories

Index(['no', 'yes', 'did not check', 'could not tell'], dtype='object')

In [24]:
dogs["likes_people"].value_counts(dropna=False)

yes               1991
NaN                938
no                   8
did not check        0
could not tell       0
Name: likes_people, dtype: int64

In [25]:
#remove the wirehaired
dogs = pd.read_csv('/Users/ecuerbo/Desktop/data/dogs.csv')
dogs["coat"] = dogs["coat"].astype("category")
#dogs["coat"] = dogs["coat"].cat.remove_categories(removals=["wirehaired"])
dogs["coat"].cat.categories

Index(['long', 'medium', 'short', 'wirehaired'], dtype='object')

In [26]:
dogs["coat"].value_counts(dropna=0)

short         1972
medium         565
wirehaired     220
long           180
Name: coat, dtype: int64

In [27]:
# Check frequency counts while also printing the NaN count
print(dogs["keep_in"].value_counts(dropna=False))

# Switch to a categorical variable
dogs["keep_in"] = dogs["keep_in"].astype("category")

# Add new categories
new_categories = ["Unknown History", "Open Yard (Countryside)"]
#dogs["keep_in"] = dogs["keep_in"].cat.add_categories(new_categories)

# Check frequency counts one more time
print(dogs["keep_in"].value_counts(dropna=False))

both flat and garden    1224
NaN                     1021
garden                   510
flat                     182
Name: keep_in, dtype: int64
both flat and garden    1224
NaN                     1021
garden                   510
flat                     182
Name: keep_in, dtype: int64

In [28]:
dogs["likes_children"]=dogs["likes_children"].astype('category')
# Set "maybe" to be "no"
dogs.loc[dogs["likes_children"] == "maybe", "likes_children"] = "no"

# Print out categories
print(dogs["likes_children"].cat.categories)

# Print the frequency table
print(dogs["likes_children"].value_counts())

# Remove the `"maybe" category
#dogs["likes_children"] = dogs["likes_children"].cat.remove_categories(["maybe"])
#print(dogs["likes_children"].value_counts())

# Print the categories one more time
#print(dogs["likes_children"].cat.categories)

Index(['no', 'yes'], dtype='object')
yes    1172
no       47
Name: likes_children, dtype: int64

In [29]:
dogs.groupby(by=["coat","sex"])[["neutered"]].count()

                   neutered
coat       sex
long       female        40
           male          77
medium     female       123
           male         221
short      female       582
           male         659
wirehaired female        46
           male         104

In [30]:
dogs.dtypes

ID                      int64
name                   object
age                   float64
sex                    object
breed                  object
date_found             object
adoptable_from         object
posted                 object
color                  object
coat                 category
size                   object
neutered               object
housebroken            object
likes_people           object
likes_children       category
get_along_males        object
get_along_females      object
get_along_cats         object
keep_in              category
dtype: object

In [31]:
dogs['breed'] = dogs['breed'].astype("category")
dogs["breed"].value_counts()

Unknown Mix                                 1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64

In [32]:
#rename categories
my_changes = { "Unknown Mix": "Unknown"}
dogs["breed"] = dogs["breed"].cat.rename_categories(my_changes)
dogs["breed"].value_counts()

Unknown                                     1524
German Shepherd Dog Mix                      190
Dachshund Mix                                147
Labrador Retriever Mix                        83
Staffordshire Terrier Mix                     62
                                            ...
English Cocker Spaniel, Vizsla Mix             1
English Greyhound Mix                          1
English Greyhound, Spanish Greyhound Mix       1
Fox Terrier, German Shepherd Dog Mix           1
Yorkshire Terrier                              1
Name: breed, Length: 277, dtype: int64

In [36]:
#rename categories with a function
dogs['sex'] = dogs['sex'].astype('category')
dogs['sex'] = dogs['sex'].cat.rename_categories(lambda c: c.title())
dogs['sex'].cat.categories

Index(['Female', 'Male'], dtype='object')