# Internal Auditor Performance
#### This is an anonymized survey of internal auditor performance by the auditee. Auditee/auditor names  are only dummy names and do not reflect actual persons.
#### Columns X1-8 are the survey Items,on-time column is the pinctuality record of the audit.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('data/internal-audit.csv')
df.dtypes

Auditee               object
Process               object
Date Audit            object
Date of Evaluation    object
Auditor               object
X1                    object
X2                    object
X3                    object
X4                    object
X5                    object
X6                    object
X7                    object
X8                    object
on-time               object
NOTE                  object
dtype: object

In [4]:
df.describe()

,Auditee,Process,Date Audit,Date of Evaluation,Auditor,X1,X2,X3,X4,X5,X6,X7,X8,on-time,NOTE
count,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
unique,21,15,8,10,14,5,4,4,4,4,4,4,4,3,3
top,GCASTRO,Maintenance,2022-08-08,N,RPONTE,4,4,4,4,4,4,4,4,1,N
freq,10,17,20,28,11,31,34,35,39,33,32,39,36,39,72

In [ ]:
#